<section class="wrapper">

  <h2 class="page-title">Maak een nieuwe veiling aan</h2>
  <mat-card class="login-card">
    <form [formGroup]="auctionEditForm" (ngSubmit)="submitAuction(auctionEditForm.value)">
      <mat-form-field fullWidth>
        <mat-label>Naam van de veiling</mat-label>
        <input matInput type="text" required formControlName="name">
      </mat-form-field>
      <mat-form-field>
        <mat-label>Omschrijving</mat-label>
        <textarea matInput required formControlName="description"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Categorieën</mat-label>
        <mat-select formControlName="categories" multiple>
          <mat-option *ngFor="let category of categories" [value]="category.id">{{category.name}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="tags-list">
        <mat-label>Tags</mat-label>
        <mat-chip-list #chipList aria-label="Tags">
          <mat-chip
            *ngFor="let tag of currentTags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="removeTag(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="Nieuwe tag..."
            #tagInput
            [formControl]="tagsControl"
            [matAutocomplete]="auto"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            (keyup)="autocompleteTag($event)"
            (matChipInputTokenEnd)="addTag($event)"
            >
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedTags($event)">
          <mat-option *ngFor="let tag of allTags$ | async" [value]="tag">
            {{tag}}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Minimumbod</mat-label>
        <input matInput type="text" min="1" formControlName="minimalBid">
      </mat-form-field>
      <div class="row">
        <mat-form-field>
          <mat-label>Startdatum</mat-label>
          <input matInput type="datetime-local" date min="{{minDate | date:'yyyy-MM-dd HH:mm:ss'}}" required
            formControlName="startDate">
        </mat-form-field>
        <mat-form-field>
          <mat-label>Einddatum</mat-label>
          <input matInput type="datetime-local" date min="{{minDate | date:'yyyy-MM-dd HH:mm:ss'}}" required
            formControlName="endDate">
        </mat-form-field>
      </div>
      <div>
        <mat-label>Afbeelding(en)</mat-label>
        <br /><br />
        <input type="file" multiple (change)="selectFiles($event)">
        <br /><br />
        <ul>
          <li *ngFor="let url of selectedFiles"><img [src]=url alt=file /></li>
        </ul>
      </div>
      <button mat-raised-button color="primary" type="submit" [disabled]="!auctionEditForm.valid">Start veiling</button>
    </form>
  </mat-card>
</section>

