<section class="wrapper">
  <h2 class="page-title">Registreren</h2>
  <mat-card class="login-card">
    <form [formGroup]="registerForm" (ngSubmit)="submitRegistration(registerForm.value)">
      <mat-form-field fullWidth>
        <mat-label>E-mailadres</mat-label>
        <input matInput type="text" required formControlName="email">
        <mat-error *ngIf="registerForm.hasError('email', 'email') || registerForm.hasError('required', 'email') ">
          Vul een geldig e-mailadres in.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Geslacht</mat-label>
        <mat-select formControlName="gender" required>
          <mat-option value="FEMALE">Vrouw</mat-option>
          <mat-option value="MALE">Man</mat-option>
          <mat-option value="OTHER">Anders</mat-option>
        </mat-select>
        <mat-error *ngIf="registerForm.hasError('required', 'gender') ">
          Vul je geslacht in.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Voornaam</mat-label>
        <input matInput type="text" required formControlName="firstName" />
        <mat-error *ngIf="registerForm.hasError('required', 'firstName') ">
          Vul je voornaam in.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Achternaam</mat-label>
        <input matInput type="text" required formControlName="lastName" />
        <mat-error *ngIf="registerForm.hasError('required', 'lastName') ">
          Vul je achternaam in.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Geboortedatum</mat-label>
        <input matInput type="date" required formControlName="dateOfBirth" />
        <mat-error *ngIf="registerForm.hasError('required', 'dateOfBirth') ">
          Vul je geboortedatum in.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Weergavenaam</mat-label>
        <input matInput type="text" required formControlName="displayName" />
        <mat-error *ngIf="registerForm.hasError('required', 'displayName') ">
          Vul een weergavenaam in.
        </mat-error>
      </mat-form-field>

      <mat-card formGroupName="address" class="sub-form">
        <h4>Adres</h4>
        <mat-form-field>
          <mat-label>Straatnaam</mat-label>
          <input matInput type="text" required formControlName="street" />
          <mat-error *ngIf="registerForm.hasError('required', 'street')">
            Vul je straatnaam in.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Huisnummer</mat-label>
          <input matInput type="text" required formControlName="houseNumber" />
          <mat-error *ngIf="registerForm.hasError('required', 'houseNumber')">
            Vul je huisnummer in.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Postcode</mat-label>
          <input matInput type="text" required pattern="[0-9]{4}(\s?)[a-zA-Z]{2}" formControlName="postalCode" />
          <mat-error *ngIf="registerForm.hasError('required', 'postalCode') || registerForm.hasError('pattern', 'postalCode')">
            De postcode moet bestaan uit vier cijfers en twee letters.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Plaats</mat-label>
          <input matInput type="text" required formControlName="city" />
          <mat-error *ngIf="registerForm.hasError('required', 'city')">
            Vul je plaatsnaam in.
          </mat-error>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Land</mat-label>
          <input matInput type="text" required formControlName="country" />
          <mat-error *ngIf="registerForm.hasError('required', 'country')">
            Vul je land in.
          </mat-error>
        </mat-form-field>
      </mat-card>

      <mat-card formGroupName="shippingAddress" class="sub-form">
        <h4><mat-checkbox formControlName="supplyShippingAddress">Leveringsadres</mat-checkbox></h4>

        <ng-container *ngIf="registerForm.value.shippingAddress?.supplyShippingAddress || false">
          <mat-form-field>
            <mat-label>Straatnaam</mat-label>
            <input matInput type="text" required formControlName="street" />
            <mat-error *ngIf="registerForm.hasError('required', 'street')">
              Vul je straatnaam in.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Huisnummer</mat-label>
            <input matInput type="text" required formControlName="houseNumber" />
            <mat-error *ngIf="registerForm.hasError('required', 'houseNumber')">
              Vul je huisnummer in.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Postcode</mat-label>
            <input matInput type="text" required pattern="[0-9]{4}(\s?)[a-zA-Z]{2}" formControlName="postalCode" />
            <mat-error *ngIf="registerForm.hasError('required', 'postalCode') || registerForm.hasError('pattern', 'postalCode')">
              De postcode moet bestaan uit vier cijfers en twee letters.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Plaats</mat-label>
            <input matInput type="text" required formControlName="city" />
            <mat-error *ngIf="registerForm.hasError('required', 'city')">
              Vul je plaatsnaam in.
            </mat-error>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Land</mat-label>
            <input matInput type="text" required formControlName="country" />
            <mat-error *ngIf="registerForm.hasError('required', 'country')">
              Vul je land in.
            </mat-error>
          </mat-form-field>
        </ng-container>
      </mat-card>

      <mat-form-field>
        <mat-label>Wachtwoord</mat-label>
        <input matInput type="password" required formControlName="password" />
        <mat-error *ngIf="registerForm.hasError('required', 'password') || registerForm.hasError('pattern', 'password')">
          Het wachtwoord moet bestaan uit minimaal acht karakters, waarvan minimaal één letter, één cijfer en één speciaal karakter.
        </mat-error>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Wachtwoord bevestigen</mat-label>
        <input matInput type="password" required formControlName="passwordVerify" [errorStateMatcher]="matcher" />
        <mat-error *ngIf="registerForm.hasError('notSame')">
          Wachtwoorden komen niet overeen.
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!registerForm.valid">Registreer</button>
    </form>
  </mat-card>

  <a href="" [routerLink]="['/login']" class="page-link">Al een account? Ga naar inloggen!</a>
</section>
