<section class="wrapper">
  <h2 class="page-title">Wachtwoord vergeten</h2>
  <mat-card class="login-card">
    <form [formGroup]="forgotpasswordForm" (ngSubmit)="submitForgotpasswordform(forgotpasswordForm.value)">
      <mat-form-field>
        <mat-label>E-mailadres</mat-label>
        <input matInput type="text" required formControlName="emailaddress" />
        <mat-error
          *ngIf="forgotpasswordForm.hasError('emailaddress', 'emailaddress') || forgotpasswordForm.hasError('required', 'emailaddress') ">
          Vul een geldig email adres in
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" type="submit" [disabled]="!forgotpasswordForm.valid">Wachtwoord
        resetten</button>
    </form>
  </mat-card>
  <a href="" [routerLink]="['/login']" class="page-link">Terug naar inloggen</a>
</section>
