.auction-box {
  display: flex;
  box-sizing: border-box;
  flex-direction: row;
  position: relative;
  gap: 1rem;
  height: 100%;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;

  .auction-image {
    width: 220px;

    img {
      object-fit: cover;
      border-radius: 4px;
      max-width: 100%;
      max-height: 100%;
      width: 100%;
      height: 100%;
    }
  }

  .auction-info {
    flex: 1 1 50%;
    display: flex;
    flex-direction: column;

    .title {
      font-size: 1.25rem;
      font-weight: bold;
      white-space: break-spaces;
      word-break: break-word;
    }

    .description {
      flex: 1;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-bottom: 0.5rem;
      position: relative;


    }
  }


  .bidding {
    text-align: left;
    display: flex;
    flex-direction: row;
  }

  &.display-grid {
    flex-direction: column;

    .auction-image {
      width: 100%;
      height: calc(100% - 80px);
    }

    .auction-info {
      flex: 1;

      .title {
        font-size: 1rem;
        font-weight: bold;
        white-space: nowrap;
        margin: 0;
      }
    }

    .countdown-timer {
      font-size: 18px;
    }
  }
}

mat-card {
  .featured {
    margin: 0.75rem;
  }
}


.featured {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1rem;
  margin: 0.25rem;
  width: 24px;
  height: 24px;
  z-index: 3;
  padding: 4px;
  text-align: center;
  background-color: #ffd740;
  color: rgba(0, 0, 0, .87);
  border-radius: 100px;
}


.countdown-timer {
  color: #673ab7;
  font-weight: bold;
  font-size: x-large;
  display: block;
  padding: 0.5rem;
  white-space: nowrap;
}


div.auction-box {
  gap: 0;
  background-color: #ececec;

  &.display-grid .auction-image {
    height: calc(100% - 95px);

    img {
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
    }
  }

  &.display-list .auction-image img {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .auction-info {
    padding: 1rem;
  }
}
