<ng-template #auctionSkeletonGrid>
  <div class="auction-image ssc-square"></div>
  <div class="auction-info">
    <h3 class="ssc-line w-60 mbs"></h3>
    <div class="bidding">
      <div class="auction-button ssc-button"></div>
      <div class="spacer"></div>
      <div class="ssc-button w-50"></div>
    </div>
  </div>
</ng-template>

<ng-template #auctionSkeletonList>
  <div class="auction-image ssc-square"></div>
  <div class="auction-info">
    <h3 class="title ssc-head-line w-30"></h3>
    <div class="description">
      <span class="ssc-line"></span>
      <span class="ssc-line"></span>
      <span class="ssc-line"></span>
    </div>
    <div class="bidding">
      <div class="auction-button ssc-button"></div>
      <div class="spacer"></div>
      <div class="ssc-button w-30"></div>
    </div>
  </div>
</ng-template>

<ng-template #auctionBoxGrid>
  <ng-container *ngIf="model; else auctionSkeletonGrid">
    <div class="auction-image">
      <img [src]="model.images[0]?.path | blobToImage" />
    </div>
    <div class="auction-info">
      <h3 class="title">{{ model.name }}</h3>
      <div class="bidding">
        <a class="auction-button" mat-flat-button fullWidth color="primary">€ {{ auctionValue }}</a>
        <div class="spacer"></div>
        <ng-container *ngTemplateOutlet="auctionStateTemplate"></ng-container>
      </div>
    </div>
    <span class="favorite" [class.active]="isFavorite">
      <mat-icon>favorite</mat-icon>
    </span>
    <span class="featured" *ngIf="model.isFeatured">
      <mat-icon>star</mat-icon>
    </span>
  </ng-container>
</ng-template>

<ng-template #auctionBoxList>
  <ng-container *ngIf="model; else auctionSkeletonList">
    <div class="auction-image">
      <img [src]="(model.images[0]?.path | blobToImage )|| 'assets/images/NoImage.png'" />
    </div>
    <div class="auction-info">
      <h3 class="title">{{ model.name }}</h3>
      <div class="description">
        {{ model.description }}
      </div>
      <div class="bidding">
        <a class="auction-value" mat-flat-button fullWidth color="primary" [routerLink]="['/auctions', model.id]"
          queryParamsHandling="merge">€ {{ auctionValue }}</a>
        <div class="spacer"></div>
        <ng-container *ngTemplateOutlet="auctionStateTemplate"></ng-container>
      </div>
    </div>
    <div class="auction-buttons">
      <span class="favorite" (click)="toggleFavorite($event)" *ngIf="currentUser$ | async">
        <mat-icon>{{isFavorite ? 'favorite' : 'favorite_border'}}</mat-icon>
      </span>
      <span class="featured" *ngIf="model.isFeatured">
        <mat-icon>star</mat-icon>
      </span>
    </div>
  </ng-container>
</ng-template>

<ng-container [ngSwitch]="displayType">
  <ng-container *ngSwitchCase="displayTypeEnum.GRID" [ngSwitch]="showInCard">
    <ng-container *ngSwitchCase="false">
      <div class="auction-box display-grid" [class.ssc]="!model" [routerLink]="['/auctions', model?.id]"
        queryParamsHandling="merge">
        <ng-container *ngTemplateOutlet="auctionBoxGrid"></ng-container>
      </div>
    </ng-container>

    <mat-card class="auction-box display-grid" [class.ssc]="!model" *ngSwitchDefault
      [routerLink]="['/auctions', model?.id]" queryParamsHandling="merge">
      <ng-container *ngTemplateOutlet="auctionBoxGrid"></ng-container>
    </mat-card>
  </ng-container>
  <ng-container *ngSwitchDefault [ngSwitch]="showInCard">
    <ng-container *ngSwitchCase="false">
      <div class="auction-box display-list" [class.ssc]="!model" [routerLink]="['/auctions', model?.id]"
        queryParamsHandling="merge">
        <ng-container *ngTemplateOutlet="auctionBoxList"></ng-container>
      </div>
    </ng-container>
    <mat-card class="auction-box display-list" [class.ssc]="!model" *ngSwitchDefault
      [routerLink]="['/auctions', model?.id]" queryParamsHandling="merge">
      <ng-container *ngTemplateOutlet="auctionBoxList"></ng-container>
    </mat-card>
  </ng-container>

</ng-container>


<ng-template #auctionStateTemplate>
  <div class="state" [class.scheduled]="state === auctionState.SCHEDULED">
    <ng-container [ngSwitch]="state">
      <ng-container *ngSwitchCase="auctionState.SCHEDULED">
        <span class="countdown-title">START OVER</span>
        <countdown class="countdown-timer" [config]="{ stopTime: timeLeft, formatDate: util.formatDate }">
        </countdown>
      </ng-container>
      <ng-container *ngSwitchCase="auctionState.RUNNING">
        <countdown class="countdown-timer" [config]="{ stopTime: timeLeft, formatDate: util.formatDate }">
        </countdown>
      </ng-container>
      <ng-container *ngSwitchCase="auctionState.CLOSED">
        <span class="countdown-title">GESLOTEN</span>
      </ng-container>
    </ng-container>
  </div>
</ng-template>
