<section class="wrapper">
    <h2 class="page-title">Wachtwoord wijzigen</h2>
    <mat-card class="login-card">
        <form [formGroup]="changepasswordForm" (ngSubmit)="submitChangepasswordform(changepasswordForm.value)">
            <mat-form-field>
                <mat-label>Nieuw wachtwoord</mat-label>
                <input matInput autocomplete="off" type="password" formControlName="password" />
                <mat-error
                    *ngIf="changepasswordForm.hasError('required', 'password') || changepasswordForm.hasError('pattern', 'password')">
                    Het wachtwoord moet bestaan uit minimaal acht karakters, waarvan minimaal één letter, één cijfer en
                    één speciaal karakter.
                </mat-error>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Nieuw wachtwoord bevestigen</mat-label>
                <input matInput autocomplete="off" type="password" formControlName="passwordVerify"
                    [errorStateMatcher]="matcher" />
                <mat-error *ngIf="changepasswordForm.hasError('notSame')">
                    Wachtwoorden komen niet overeen.
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!changepasswordForm.valid">Wachtwoord
                opslaan</button>
        </form>
    </mat-card>
    <a href="" [routerLink]="['/login']" class="page-link">Terug naar inloggen</a>
</section>
