.example-card {
  max-width: 200px;
  float: left;
  padding:20px;
  margin: 20px;
}

.example-header-image {
  background-image: url("https://www.mijnobject.be/images/logo.png");
  background-size: cover;
}
