<mat-card class="auction-box">
  <div class="auction-image">
    <img [src]="model.images[0]?.path || 'https://via.placeholder.com/150'" />
  </div>

  <div class="auction-info">
    <h3 class="title">{{ model.name }}</h3>
    <div class="description">
      {{ model.description }}
    </div>
    <div class="bidding">
      <countdown
        class="countdown-timer"
        [config]="{ stopTime: timeLeft, formatDate: util.formatDate }"
      ></countdown>

      <a
        class="auction-button"
        mat-flat-button
        fullWidth
        color="primary"
        [routerLink]="['/auctions/details', model.id]"
        queryParamsHandling="merge"
      >
        <span class="latest-bid">€ {{ latestBid }}</span>
        MEE BIEDEN
      </a>
    </div>
  </div>
</mat-card>
