<section class="wrapper" *ngIf="model$ | async as model">
  <mat-card class="page-header">
    <h2 class="page-title">{{ model.data.name }}</h2>
    <div class="cancel-button">
      <button (click)="cancelAuction(model.data)" mat-raised-button color="accent" *ngIf="canCancelAuction"><b>ANNULEER</b></button>
    </div>
    <div class="auction-time">
      <mat-chip-list>
        <mat-chip><b>START: </b> {{model.data.startDate | date: 'dd-MM-yyyy HH:mm'}}</mat-chip>
        <mat-chip><b>EIND: </b> {{model.data.endDate | date: 'dd-MM-yyyy HH:mm'}}</mat-chip>
      </mat-chip-list>
    </div>
  </mat-card>

  <section class="auction-display">
    <mat-card class="product-wrapper">
      <app-image-viewer class="images" [images]="model.data.images"></app-image-viewer>

      <app-bid class="bid" [auctionId]="model.data.id" [endDate]="model.data.endDate"
        [minimumValue]="model.data.minimalBid">
      </app-bid>
    </mat-card>
  </section>

  <section class="auction-description">
    <mat-card>
      <mat-card-title>Veilinginformatie</mat-card-title>
      <br />
      <mat-card-content>
        <mat-card-subtitle>Beschrijving</mat-card-subtitle>
        <div>
          {{ model.data.description }}
        </div>
        <br />
        <mat-card-subtitle>Categorieën</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="category" *ngFor="let category of model.data.categories"
            routerLink="/auctions"
            [queryParams]="{categoryId: category.id}"> {{category.name}}</mat-chip>
        </mat-chip-list>
        <div *ngIf="model.data.categories.length === 0">-</div>
        <br />
        <mat-card-subtitle>Tags</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="tag" *ngFor="let tag of model.data.tags">{{tag.name}}</mat-chip>
        </mat-chip-list>
        <div *ngIf="model.data.tags.length === 0">-</div>
      </mat-card-content>
    </mat-card>

  </section>

  <section class="owner-info">
    <mat-card>
      <mat-card-title>Verkoper</mat-card-title>
      <br />
      <mat-card-header [routerLink]="['/profile', model.data.user.id]">
        <img mat-card-avatar class="avatar-image" [src]="model.data.user.avatar" />
        <mat-card-title >{{model.data.user.displayName}}</mat-card-title>
        <mat-card-subtitle>subtitle placeholder</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </section>
</section>
