section.wrapper {
  padding: 50px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.page-header {
  h2 {
    display: flex;
    align-items: center;
  }
  .info-tags {
    display: flex;
    font-size: 0.85rem;
    gap: 1rem;

    span {
      mat-icon {
        margin-right: 0.25rem;
        font-size: 1.2rem;
        height: 20px;
        width: 20px;
      }
      display: flex;
      align-items: center;
    }
  }
  .buttons {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
  }
}

.auction-display {
  >mat-card {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .product-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .bid {
      flex: 0 0 250px;
      background-color: #fafafa;
      padding: 1rem;
    }

    .images {
      flex-grow: 1;
      height: 410px;
      width: 0px;
    }
  }

}


.featured {
  display: inline-block;
  margin: 0.25rem;
  margin-right: 0.75rem;
  width: 24px;
  height: 24px;
  z-index: 3;
  padding: 4px;
  text-align: center;
  background-color: #ffd740;
  color: rgba(0, 0, 0, .87);
  border-radius: 100px;
}

.auction-edit {
  position: absolute;
  top: 10px;
  right: 10px;
}

mat-card {
  margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .auction-display {
    .product-wrapper {
      flex-direction: column;

      .images {
        width: 100%;
      }
    }
  }
}
