section.wrapper {
  padding: 50px;
  padding-top: 0;
  display: flex;
  flex-direction: column;
}

.page-header {
  h2 {
    display: inline;
  }
  .auction-time {
    float:right;
  }
}

.auction-display {
  >mat-card {
    margin-top: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
  }

  .product-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    .bid {
      flex: 0 0 250px;
      background-color: #fafafa;
      padding: 1rem;
    }

    .images {
      flex-grow: 1;
      height: 410px;
      width: 0px;
    }
  }

}

mat-card {
  margin: 1rem 0;
}

@media only screen and (max-width: 768px) {
  .auction-display {
    .product-wrapper {
      flex-direction: column;

      .images {
        width: 100%;
      }
    }
  }
}
