<section class="wrapper" *ngIf="auction">
  <mat-card class="page-header">
    <h2 class="page-title"><span class="featured" *ngIf="auction.isFeatured">
        <mat-icon>star</mat-icon>
      </span> {{ auction.name }}</h2>
    <div class="info-tags">
      <ng-container *ngIf="state === auctionState.SCHEDULED">
        <span title="start">
          <mat-icon>schedule</mat-icon> Start op {{auction.startDate | date: 'dd MMM "yy, HH:mm'}}
        </span>
        <span title="eind">
          <mat-icon>alarm</mat-icon> Eindigd op {{auction.endDate | date: 'dd MMM "yy, HH:mm'}}
        </span>
      </ng-container>
      <ng-container *ngIf="state === auctionState.RUNNING">
        <span title="start">
          <mat-icon>schedule</mat-icon> Gestart op {{auction.startDate | date: 'dd MMM "yy, HH:mm'}}
        </span>
        <span title="eind">
          <mat-icon>alarm</mat-icon> Eindigd op {{auction.endDate | date: 'dd MMM "yy, HH:mm'}}
        </span>
      </ng-container>
      <ng-container *ngIf="state === auctionState.CLOSED">
        <span title="eind">
          <mat-icon>alarm</mat-icon> Geeindigd op {{auction.endDate | date: 'dd MMM "yy, HH:mm'}}
        </span>
        <span title="gesloten">
          <mat-icon>lock</mat-icon> Gesloten
        </span>
      </ng-container>
    </div>
    <div class="buttons"
      *ngIf="(isAdmin || isOwner) && (state !== auctionState.CLOSED || auction.status === 'CANCELLED')">
      <button (click)="cancelAuction()" mat-raised-button color="primary"
        *ngIf="(isAdmin || (isOwner && state === auctionState.SCHEDULED)) && state !== auctionState.CLOSED">Veiling
        sluiten</button>
      <button (click)="deleteAuction()" mat-raised-button color="warn"
        *ngIf="(isAdmin || isOwner) && auction.status === 'CANCELLED'">Veiling verwijderen</button>
      <button mat-raised-button color="primary" (click)="toggleFeatured()"
        *ngIf="isAdmin && state !== auctionState.CLOSED">
        <mat-slide-toggle [checked]="auction.isFeatured">Aanbevolen
        </mat-slide-toggle>
      </button>

    </div>
    <button class="auction-edit" mat-mini-fab color="primary" [routerLink]="['edit']"
      *ngIf="isOwner && state === auctionState.SCHEDULED">
      <mat-icon>edit</mat-icon>
    </button>
  </mat-card>

  <section class="auction-display">
    <mat-card class="product-wrapper">
      <app-image-viewer class="images" [images]="auction.images"></app-image-viewer>

      <app-bid class="bid" [auction]="auction" [endDate]="auction.endDate" [minimumValue]="auction.minimalBid"
        [startDate]="auction.startDate" [state]="state">
      </app-bid>
    </mat-card>
  </section>

  <section class="auction-winning-info">
    <mat-card *ngIf="winningInformation && isWinner">
      <mat-card-title>U heeft gewonnen!</mat-card-title>
      <br />
      <mat-card-subtitle>Wat nu?</mat-card-subtitle>
      <div>
        U heeft de veiling gewonnen voor een bedrag van €{{auction.finalBid.value}},-. <br />
        De contactgegevens van de veiler vindt u hieronder. <br />
        Neem contact op om de betaling en levering samen af te ronden.
      </div>
      <br />
      <mat-card-subtitle>Veiler informatie</mat-card-subtitle>
      <div class="info-field">
        <label>Naam: </label>
        <span class="value">{{winningInformation.owner.name}}</span>
      </div>
      <div class="info-field">
        <label>E-mailadres: </label>
        <span class="value">{{winningInformation.owner.email}}</span>
      </div>
    </mat-card>

    <mat-card *ngIf="winningInformation && isOwner">
      <mat-card-title>{{winningInformation.winner.name}} heeft gewonnen!</mat-card-title>
      <br />
      <mat-card-subtitle>Wat nu?</mat-card-subtitle>
      <div>
        {{winningInformation.winner.name}} heeft de veiling gewonnen voor een bedrag van €{{auction.finalBid.value}},-.
        <br />
        De gegevens van de winnaar vindt u hieronder.
        Neem contact op om de betaling en levering samen af te ronden.
      </div>
      <br />
      <mat-card-subtitle>Winnaar informatie</mat-card-subtitle>
      <div>
        <div class="info-field">
          <label>Naam: </label>
          <span class="value">{{winningInformation.winner.name}}</span>
        </div>
        <div class="info-field">
          <label>E-mailadres: </label>
          <span class="value">{{winningInformation.winner.email}}</span>
        </div>
        <div class="info-field">
          <label>Adres: </label>
          <span class="value">{{winningInformation.winner.address.street}} {{winningInformation.winner.address.houseNumber}},
            {{winningInformation.winner.address.postalCode}}, {{winningInformation.winner.address.city}}</span>
        </div>
      </div>
    </mat-card>
  </section>



  <section class="auction-description">
    <mat-card>
      <mat-card-title>Veilinginformatie</mat-card-title>
      <br />
      <mat-card-content>
        <mat-card-subtitle>Beschrijving</mat-card-subtitle>
        <div>
          {{ auction.description }}
        </div>
        <br />
        <mat-card-subtitle>Categorieën</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="category" *ngFor="let category of auction.categories" routerLink="/auctions/search"
            [queryParams]="{c: category.id}"> {{category.name}}</mat-chip>
        </mat-chip-list>
        <div *ngIf="auction.categories.length === 0">-</div>
        <br />
        <mat-card-subtitle>Tags</mat-card-subtitle>
        <mat-chip-list>
          <mat-chip class="tag" *ngFor="let tag of auction.tags" routerLink="/auctions/search"
            [queryParams]="{t: tag.name}">{{tag.name}}</mat-chip>
        </mat-chip-list>
        <div *ngIf="auction.tags.length === 0">-</div>
      </mat-card-content>
    </mat-card>
  </section>

  <section class="owner-info">
    <mat-card>
      <mat-card-title>Verkoper</mat-card-title>
      <br />
      <mat-card-header [routerLink]="['/profile', auction.user.id]">
        <img mat-card-avatar class="avatar-image" [src]="auction.user.avatar | blobToImage" alt="profiel afbeelding" />
        <mat-card-title>{{auction.user.displayName}}</mat-card-title>
        <mat-card-subtitle> Actief sinds: {{auction.user.created | date:'dd MMMM yyyy'}}</mat-card-subtitle>
      </mat-card-header>
    </mat-card>
  </section>
</section>
