button {
  display: block;
  margin-bottom: 10px;
}

.active-link {
  background-color: #673ab7;
  color: #ffffff;
}
table {
  width: 100%;
}
:host {
  position: -webkit-sticky;
    position: sticky;
    top: 0;
}
