<section>
  <a mat-flat-button color="accent" class="new-auction" [routerLink]="['/auctions/create']" href="">
    <mat-icon>add</mat-icon>
    Veiling starten
  </a>
</section>
<section class="featured-section">
  <h2>Aanbevolen</h2>
  <ng-container *ngIf="!loadingFeaturedAuctions; else featuredAuctionsSkeleton">
    <div class="auction-list">
      <app-auction-list-item class="auction" *ngFor="let auction of allAuctions" [model]="auction">
      </app-auction-list-item>
    </div>
  </ng-container>
</section>
<section class="other-section">
  <div class="left-side">
    <app-category-list class="category-list"></app-category-list>
  </div>
  <div class="auctions-view" *ngIf="!loadingCategoryAuctions; else categoryAuctionsSkeleton">
    <div class="auction-list-header">
      <h2>{{categoryName}}</h2>
      <mat-button-toggle-group class="display-selection" [(ngModel)]="displayType">
        <mat-button-toggle [value]="displayTypeEnum.LIST">
          <mat-icon>list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="displayTypeEnum.GRID">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="auction-list" [ngClass]="'display-'+displayTypeEnum[displayType].toLowerCase()">
      <app-auction-list-item class="auction" *ngFor="let auction of filteredAuctions" [model]="auction"
        [displayType]="displayType">
      </app-auction-list-item>

      <div class="empty-list" *ngIf="filteredAuctions.length === 0">
        Geen veiligen
      </div>
    </div>
  </div>
</section>

<ng-template #featuredAuctionsSkeleton>
  <div class="auction-list">
    <app-auction-list-item class="auction" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [model]="null"
      [displayType]="displayType">
    </app-auction-list-item>
  </div>
</ng-template>

<ng-template #categoryAuctionsSkeleton>
  <div class="auctions-view ssc">
    <div class="auction-list-header">
      <h2 class="ssc-head-line w-30"></h2>
      <mat-button-toggle-group class="display-selection" [(ngModel)]="displayType">
        <mat-button-toggle [value]="displayTypeEnum.LIST">
          <mat-icon>list</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle [value]="displayTypeEnum.GRID">
          <mat-icon>view_module</mat-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
    </div>
    <div class="auction-list" [ngClass]="'display-'+displayTypeEnum[displayType].toLowerCase()">
      <app-auction-list-item class="auction" *ngFor="let i of [1,2,3,4,5,6,7,8,9]" [model]="null"
        [displayType]="displayType">
      </app-auction-list-item>
    </div>
  </div>
</ng-template>
