<section>
  <a mat-flat-button color="accent" class="new-auction" [routerLink]="['/auctions/create']" href="">
    <mat-icon>add</mat-icon>
    Veiling starten
  </a>
</section>
<section class="featured-section">
  <h2>Aanbevolen</h2>
  <div class="auction-list">
    <app-auction-list-item class="auction" *ngFor="let auction of allAuctions" [model]="auction">
    </app-auction-list-item>
  </div>
</section>
<section class="other-section">
  <app-category-list class="category-list"></app-category-list>
  <h2>{{categoryName}}</h2>
  <div class="auction-list">
    <app-auction-list-item class="auction" *ngFor="let auction of filteredAuctions" [model]="auction">
    </app-auction-list-item>
  </div>
</section>