<section>
  <a mat-flat-button color="accent" class="new-auction" [routerLink]="['/auctions/create']" href="">
    <mat-icon>add</mat-icon>
    Veiling starten
  </a>
</section>
<section class="featured-section">
  <h2>Aanbevolen</h2>
  <div class="auction-list">
      <app-auction-list-item class="auction" *ngFor="let auction of this.auctions" [model]="auction"></app-auction-list-item>
  </div>  
</section>
<section class="other-section">
  <h2>Alle veilingen</h2>
  <div class="auction-list">
    <app-auction-list-item class="auction" *ngFor="let auction of this.auctions" [model]="auction"></app-auction-list-item>
  </div>
</section>