:host {
  display: block;
  flex-direction: column;
  position: relative;
  height: 100%;
  width: 100%;



  >section {
    padding: 25px 25px 25px 25px;
  }
}

section.search-section {
  background: white;
  display: flex;
  padding: 15px 25px;
  align-items: center;

  .search {
    width: 100%;
    max-width: 50vw;
  }
}

.featured-section {
  background-color: gainsboro;
  padding-top: 1rem;
  padding-bottom: 1rem;

  .auction-list {
    display: grid;
    gap: 2rem;
    grid-template-columns: 1rem;
    grid-template-rows: 250px;
    grid-auto-flow: column;
    grid-auto-columns: auto;
    margin-left: -25px;
    margin-right: -25px;
    width: auto;
    overflow-x: overlay;
    overflow-y: hidden;
    scroll-snap-type: x proximity;
    padding-top: 1rem;
    padding-bottom: 1rem;

    &:before,
    &:after {
      content: "";
      width: 50px;
    }
  }
}

.other-section {
  display: flex;
  gap: 2rem;

  .left-side {
    width: 300px;
  }

  .auction-list {
    flex: 1;
  }
}
