<section class="wrapper">

  <h2 class="page-title">Categorieën</h2>

  <mat-card>
    <a mat-flat-button color="accent" class="new-category" [routerLink]="['/categories/create']" href="">
      <mat-icon>add</mat-icon>
      Categorie toevoegen
    </a>
    <mat-table [dataSource]="data" class="categories">
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Naam </mat-header-cell>
        <mat-cell *matCellDef="let row" class="name">
          <input matInput type="text" class="category-name-input" (change)="edit(row.id,$event)" value="{{row.name}}">
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row" class="buttons"> <button mat-button (click)="delete(row.id)">
            {{(row.archived ? "Activeer" : "Archiveer")}}
          </button></mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['name', 'buttons']"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'buttons']"></mat-row>
    </mat-table>
  </mat-card>
</section>
