<section>
    <mat-card class="login-card">
        <h2>Maak een nieuwe veiling aan</h2>
        <form [formGroup]="newAuctionForm" (ngSubmit)="submitAuction(newAuctionForm.value)">
            <mat-form-field fullWidth>
                <mat-label>Naam van de veiling</mat-label>
                <input matInput type="text" required formControlName="name">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Omschrijving</mat-label>
                <textarea matInput required formControlName="description"></textarea>
            </mat-form-field>
            <mat-form-field>
                <mat-label>Minimumbod</mat-label>
                <input matInput type="text" min="1" formControlName="minimalBid">
            </mat-form-field>
            <mat-form-field>
                <mat-label>Startdatum</mat-label>
                <input matInput type="datetime-local" date min="{{minDate | date:'yyyy-MM-dd HH:mm:ss'}}" required formControlName="startDate">
              </mat-form-field>
              <mat-form-field>
                <mat-label>Einddatum</mat-label>
                <input matInput type="datetime-local" date min="{{minDate | date:'yyyy-MM-dd HH:mm:ss'}}" required formControlName="endDate">
              </mat-form-field>
            <button mat-raised-button color="primary" type="submit" [disabled]="!newAuctionForm.valid">Start veiling</button>
        </form>
    </mat-card>
</section>
