.layout-container {
  .layout-toolbar {
    position: fixed;
    z-index: 1000;
    top: 0;

    .app-name {
      margin-left: 8px;
    }

    .menu {
      margin: 0 1rem;
    }

    .profile {
      display: flex;
      align-items: center;
      cursor: pointer;

      .displayname {
        flex: 1;
        font-size: 1rem;
      }

      .profile-picture {
        margin-left: 1rem;
        border-radius: 50%;
        width: 45px;
        height: 45px;
        object-fit: cover;
      }
    }
  }

  .sidenav-container {

    mat-sidenav {
      width: 200px;
      top: 64px !important;

    }

    .content-container {
      margin-top: 64px;
    }


    @media (max-width: 599px) {
      mat-sidenav {
        top: 56px !important;

      }

      .content-container {
        margin-top: 56px;
      }
    }
  }

}
